.container{
    width: 100%;
    height: auto;
    overflow: hidden;
    svg{
        margin-bottom: -6px;
    }
    svg, img, video{
        position: relative;
        width: 100%;
        height: auto;
    }
    picture, video, source{
        display: block;
    }

    .svgImage{
        opacity: 1;
        transition: opacity 270ms linear 180ms;
        &.svgImageDisable{
            opacity: 0;
        }
        &.skipAnim{
            transition: none;
        }
    }
    .original{
        display: none;
        &.loaded{
            display: block;
            animation: fade-in 370ms linear;
        }
        &.skipAnim{
            animation: none !important;
            opacity: 1;
            filter: blur(0px);
        }
    }
}

@keyframes fade-in {
    from {
      opacity: 0;
      filter: blur(18px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
    }
}